<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
</head>
<body>
    <header>
        <h1>GiftGrub</h1>
    </header>
    
    <div class="container">
        <h2>Thank You for Reaching Out!</h2>
        <p>We appreciate you contacting us. One of our customer service colleagues will get back to you shortly.</p>
        <p>Have a great day!</p>
    </div>

    <footer>
        <nav>
            <div class="container">
                <ul>
                    <p><a href="{{ url_for('homepage') }}">Home</a></p>
                    <p><a href="{{ url_for('organizations_list') }}">View Organizations</a></p>
                    <p><a href="{{ url_for('organization_form') }}">Organization Addition Form</a></p>
                    <p><a href="{{ url_for('customer_support') }}">Customer Support</a></p>
                    <p><a href="{{ url_for('logout') }}">Logout</a></p>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>
